@{
    ViewBag.Title = "Message";
}
@model Damibek.Models.Message


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Обратная связь</h4>
</div>
<div class="modal-body">
     @Html.Partial("~/Views/Home/_MessageForm.cshtml", @Model.message)
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>


