
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutCrumb.cshtml";
}
@model Damibek.Models.About

<div class="aboutus">
    <div class="container">
        <h3>О компании</h3>
        <hr>
        <div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="~/images/7.jpg" class="img-responsive">
            <h4>Наша главное стремление ощущать пользу от внедренных проектов.</h4>
            <p>
                Мы молодая компания специализирующая на <b>разработке програмного обеспечение Web
                сайтов, мобильных приложений для различных направлений бизнеса</b> объеденившая
                в себе только лучших  специалистов с  большим  опытом  работы  над  крупными
                многопользовательскими сис. А это значит что наша компания действительно знает
                как упростить вашу работу, оптимизировать узкие места в вашем бизнесе
            </p>
            <p>
                В ходе выполнение проектов мы научились мыслить на перед избавляя наших клиентов
                от всевозможных ошибок и рисков в будущем, а это значит мы экономим ваше время и деньги .
                Мы любим свою работу, решать технические задачу и видеть как результат этого помогает 
                что то улучшить это лучшая мотивация!
            </p>
        </div>
        <div class="col-md-5 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="skill">
                <h2>Наши направление</h2>
                <p>Перечень ИТ направлений в которых мы имеем колосcальный опыт внедрение, более подробно в @Html.ActionLink("Услуги", "Services", "Home", null, new { @class = "a_onpage" }).</p>

                <div class="progress-wrap">
                    <h3>Крупные  Web сайты</h3>
                    <div class="progress">
                        <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="bar-width">85%</span>
                        </div>

                    </div>
                </div>

                <div class="progress-wrap">
                    <h4>Мобильные приложение iOS/Android</h4>
                    <div class="progress">
                        <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                            <span class="bar-width">95%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-wrap">
                    <h4>Облачные технологии</h4>
                    <div class="progress">
                        <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="bar-width">80%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-wrap">
                    <h4>ИТ консалтинг</h4>
                    <div class="progress">
                        <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">90%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-team">
    <div class="container">
        <div class="text-center">
            <h3>По чему именно наша компания?</h3>
        </div>
        <div class="col-md-6">
            <div class="media">
                <ul>
                    <li>
                        <div class="media-left">
                            <img src="~/images/about/attention.png" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Опыт</h4>
                            <p>Не смотря на то что мы молодая компания у наших специалистов большой опыт разработки, внедрение и сопровождение крупных проектов. 
                               После внедрение наших проектов компания ставится на новые рельсы развитие, более быстрые и экономичные. 
                               Мы делаем такие проекты которые способны быстро подстраиваться под изнение потребностей вашей компании.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="media-left">
                            <img src="~/images/about/attention.png" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Технологии</h4>
                            <p>Наши специалисты постоянно повышают знание в области новых технологий. Например взамен платных систеных ПО такие как база данных система очередей
                               можно найти не менее безопасные и удобные бесплатные, которые уже доказили свою надежнесть в использовании крупных компаниях, и использхование их 
                               уменьшает стоимость проекта в разы.  По этому наши специалисты занимаются иследованием и тестированием в области новых ИТ технологий.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="media-left">
                            <img src="~/images/about/attention.png" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Дизайн</h4>
                            <p>
                                Мы считаем дизайн и удобство интерфейса первым и основным, над чем следует работать, так как от этого в первую очередь зависит скорость работы пользователя.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <ul>
                    <li>
                        <div class="media-left">
                            <img src="~/images/about/attention.png" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Проектная группа</h4>
                            <p>Ваш проект получит выделенную команду, которая будет работать над ним полный день, часто утренее пробуждение наших ребят начинается с мысли - я знаю как сделать лучше).
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="media-left">
                            <img src="~/images/about/attention.png" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Поддержка</h4>
                            <p>Вы можете рассчитывать на круглосуточную техподдержку третьего и второго уровня, и понимает что остановки в работе Бизнес процессов не допустимы, по этому для нас главное чтоб ваш бизнес работал.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="media-left">
                            <img src="~/images/about/attention.png" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Гарантии</h4>
                            <p>
                                Мы работает для того чтоб наши внедренные системы приносили пользу вашей компании если сис вас не устраивает, мы гарантируем возврат средств.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
