
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_LayoutCrumb.cshtml";
}

<section id="blog" class="container">
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 blog-content">
                            <a href="#"><img class="img-responsive img-blog" src="~/images/blog/blog1.jpg" width="100%" alt="" /></a>
                            <h4>Consequat bibendum quam liquam viverra</h4>
                            <p>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</p>
                            <a class="btn btn-primary readmore">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.blog-item-->

                <div class="blog-item">
                    <div class="row">
                        <div class="col-sm-10 blog-content">
                            <a href=""><img class="img-responsive img-blog" src="~/images/3.jpg" width="100%" alt="" /></a>
                            <h4>Consequat bibendum quam liquam viverra</h4>
                            <p>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</p>
                            <a class="btn btn-primary readmore">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.blog-item-->

                <ul class="pagination pagination-lg">
                    <li><a href="#"><i class="fa fa-long-arrow-left"></i>Назад</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Далее<i class="fa fa-long-arrow-right"></i></a></li>
                </ul><!--/.pagination-->
            </div><!--/.col-md-8-->

            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Искать по блогам">
                                    <span class="input-group-btn glyphicon glyphicon-search">
                                        <button class="btn btn-secondary" type="button"></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control search_box" autocomplete="off" placeholder="Искать по блогам">
                                    <button type="submit" id="btnSearch" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!--/.search-->


                <div class="widget categories">
                    <h3>Категории</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="blog_category">
                                <li><a href="#">ИТ и Бизнес <span class="badge">04</span></a></li>
                                <li><a href="#">Смартфоны <span class="badge">10</span></a></li>
                                <li><a href="#">Залог успеха <span class="badge">06</span></a></li>
                                <li><a href="#">Новыейшие технологии <span class="badge">25</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--/.categories-->
            </aside>
        </div><!--/.row-->
    </div>
</section><!--/#blog-->
