
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutCrumb.cshtml";
}

@model Damibek.Models.Contact

<div class="map">
    <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Almaty,+Almaty+Capital+Region,+Kazakhstan&amp;aq=3&amp;oq=almaty+&amp;sll=43.2566700,76.9286100&amp;sspn=43.2566700,76.9286100&amp;ie=UTF8&amp;hq=&amp;hnear=Almaty&amp;t=m&amp;z=10&amp;ll=43.2566700,76.9286100&amp;output=embed"></iframe>
</div>

<section id="contact-page">
        <div class="text-center">
            <h3>Напишите нам, наши специалисты свяжутся с вами!</h3>
        </div>
        <hr class="hr_service">
        @Html.Partial("~/Views/Home/_MessageForm.cshtml", @Model.message)
</section><!--/#contact-page-->

