
@{

    Layout = "~/Views/Shared/_LayoutCrumb.cshtml";
}

@model Damibek.Models.Portfolio
@using Damibek.Models;

<section id="portfolio">
    <div class="container">
        <div class="center">
            <p> Мы идем от общей концепции проблемы к конкретным задачам решая которые мы получаем <b>законченные проекты</b></p>
        </div>

        <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default active" href="#" data-filter="*">Все проекты</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Веб разработка</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".html">Мобильные приложение iOS/Android</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".wordpress">Облачные технологии</a></li>
        </ul><!--/#portfolio-filter-->
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="media">
                <ul>
                    @foreach(RowProject row in Model.Projects)
                    { 
                        <li>
                            <div class="media-left">
                                <img src="~/images/portfolio/allow-30.png" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">@row.Name</h4>
                                <p>@row.Description
                                </p>
                            </div>
                        </li>   
                    }          
                </ul>
            </div>
        </div>
    </div>
</section><!--/#portfolio-item-->
