
@{
    ViewBag.Title = "services";
    Layout = "~/Views/Shared/_LayoutCrumb.cshtml";
}

<div class="services">
    <div class="container">
        <h3>Наши Услуги</h3>
        <hr>
        <div class="col-md-6">
            <div class="media">
                <ul>
                    <li>
                        <div class="media-left">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Web разработка</h4>
                            <p>
                                Разработка сайтов с большим числом пользователей, сайт будет адаптирован для всех типов экранов от мобильных приложений до настольных ПК, 
                                мы тщательно продумываем как сделать работу сайта максимально быстрым и удобным, так как пики нагрузки зависет от резких потребностей бизнеса, 
                                сайт должен быть максимально удобным и доступным для всех ваших клиентов и сотрудников не зависемо от пика нагрузки.
                            </p>
                            <p> Для решение этих задач часть функционала выполняется на стороне клиента и другая на стороне сервера.
                                Мы используем языки програмирование и технологии, angularjs, jquery, c# 
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="media-left">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Мобильные приложение iOS/Android</h4>
                            <p>Мобильные приложение для iOS и Android любой сложности, от не больших пользовательских до крупных корпоративных приложений.
                               
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <ul>
                    <li>
                        <div class="media-left">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Облачные технологии</h4>
                            <p> Если вы еще не знаете что такое облачные технологии - тогда мы идем к вам.
                                Сейчас уже не обязательно покупать сервера или просто мошные ПК для запуска ИТ систем, появилися более эффективный подход,
                                для решение повсевдненых задач выгодно использоваить вычислительные средства мировых дата центров, 
                                Допустим у вас хранятся тысячи документов ваших клиентов в электронном виде, но на вашем ПК уже нет места, 
                                что вы хотите? Перенести документы на жесткий диск? а вы уверенны что он будет в безопасном месте и не бракованный?
                                Мы предлогаем размещать эти данные в специализированных дата центрах а для вас разработать специальный интерфейс для получение этих данных, 
                                и дает защиту потери данных в случае технических неисправностей старых традиционных устройств.                                                                                              
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="media-left">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">ИТ консалтинг</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                                libero, pulvinar tincidunt leo consectetur eget.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sub-services">
    <div class="container">
        <h3>Придумать что написать сюда</h3>
 
        <div class="col-md-6">
            <img src="~/images/4.jpg" class="img-responsive">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
            </p>
        </div>
    </div>
</div>

