
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutCrumb.cshtml";
}
@model Damibek.Models.Services

<div class="services">
    <div class="container">
        <h3>Наши услуги</h3>
        <hr class="hr_service">
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-pencil"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Web разработка</h4>
                    <p>
                        Разработка сайтов с большим числом пользователей, сайт будет адаптирован для всех типов экранов от мобильных приложений до настольных ПК, 
                        мы тщательно продумываем как сделать работу сайта максимально быстрым и удобным, так как пики нагрузки зависет от резких потребностей бизнеса, 
                        сайт должен быть максимально удобным и доступным для всех ваших клиентов и сотрудников не зависемо от пика нагрузки.
                    </p>
                    <p> Для решение этих задач часть функционала выполняется на стороне клиента и другая на стороне сервера.
                        Мы используем языки програмирование и технологии, angularjs, jquery, c# 
                    </p>
                </div>
            </div>
        <hr class="hr_service">
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-book"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Мобильные приложение iOS/Android</h4>
                    <p>
                        Мобильные приложение для iOS и Android любой сложности, от не больших пользовательских до крупных корпоративных приложений.
                    </p>
                </div>
            </div>
        <hr class="hr_service">
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Облачные технологии</h4>
                    <p>
                        Если вы еще не знаете что такое облачные технологии - тогда мы идем к вам.
                        Сейчас уже не обязательно покупать сервера или просто мошные ПК для запуска ИТ систем, появилися более эффективный подход,
                        для решение повсевдненых задач выгодно использоваить вычислительные средства мировых дата центров,
                        Допустим у вас хранятся тысячи документов ваших клиентов в электронном виде, но на вашем ПК уже нет места,
                        что вы хотите? Перенести документы на жесткий диск? а вы уверенны что он будет в безопасном месте и не бракованный?
                        Мы предлогаем размещать эти данные в специализированных дата центрах а для вас разработать специальный интерфейс для получение этих данных,
                        и дает защиту потери данных в случае технических неисправностей старых традиционных устройств.
                    </p>
                </div>
            </div>
        <hr class="hr_service">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-rocket"></i>
            </div>
            <div class="media-body">
                <h4 class="media-heading">ИТ консалтинг</h4>
                <p>
                    Многие компании не знают что такое ИТ отросль, часто ли вы сталкиваетесь с такими вопросами?<br />
                    Где и какие места в бизнесе можно оптимизоровать?<br />
                    Какую выгоду это принесет?<br />
                    Сколько вермени займет внедрение новых решений?<br />
                    Какие технологии использовать для того или иного бизнес процесса?<br />
                    Как с экономить при выборе технологий?<br />
                    Как лучше спроектировать отчетную систему?<br />
                    Как оценить стоимость проектов?<br />
                    Через какое время необходимо будет оптимизировать систему?<br />
                    Как лучше защитить данные системы от злоумышленников и физических поломок?<br />
                    И многие другие вопросы, оптимальный подход в этих случаях обратиться за помощью к компетентным кадрам, мы готовы помочь вам
                </p>
            </div>
        </div>
    </div>
</div>

